{% extends 'base.html' %}

{% block body %}
    <div class="faixa-jogos">
        <div id="jogo1" class="jogo">
            <div class="cartao">
                <h5 style="color: white;">2017</h5>
                <div class="caracteristicas">
                    <div class="caracteristicasCards"><p style="color: white; font-size: small;">Shoot 'em up</p></div>
                    <div class="caracteristicasCards"><p style="color: white; font-size: small;">Run and gun</p></div>
                </div>
                <a href="{{ url_for('home') }}" style="text-decoration: none;"><h1 style="color: white; margin-top: 3%; margin-bottom: 3%; font-size: 2rem;">Cuphead</h1></a>
                <p style="color: white; font-size: 80%;">Cuphead é um jogo eletrônico de run and gun e plataforma criado pelos irmãos canadenses Chad e Jared Moldenhauer através da Studio MDHR.</p>
            </div>
        </div>
        <div id="jogo2" class="jogo">
            <div class="cartao">
                <h5 style="color: white;">2012</h5>
                <div class="caracteristicas">
                    <div class="caracteristicasCards"><p style="color: white; font-size: small;">RPG</p></div>
                    <div class="caracteristicasCards"><p style="color: white; font-size: small;">Hack and slash</p></div>
                </div>
                <a href="{{ url_for('home') }}" style="text-decoration: none;"><h1 style="color: white; margin-top: 3%; margin-bottom: 3%; font-size: 2rem;">Diablo III</h1></a>
                <p style="color: white; font-size: 80%;">Diablo III é um RPG de ação hack and slash desenvolvido pela Blizzard Entertainment, o terceiro título da série Diablo.</p>
            </div>
        </div>
        <div id="jogo3" class="jogo">
            <div class="cartao">
                <h5 style="color: white;">2017</h5>
                <div class="caracteristicas">
                    <div class="caracteristicasCards"><p style="color: white; font-size: small;">battle royale</p></div>
                    <div class="caracteristicasCards"><p style="color: white; font-size: small;">multijogador</p></div>
                </div>
                <a href="{{ url_for('home') }}" style="text-decoration: none;"><h1 style="color: white; margin-top: 3%; margin-bottom: 3%; font-size: 2rem;">Fortnite</h1></a>
                <p style="color: white; font-size: 80%;">Fortnite é um jogo eletrônico multijogador online, desenvolvido pela Epic Games e lançado como diferentes modos de jogo que compartilham a mesma jogabilidade e motor gráfico de jogo.</p>
            </div>
        </div>
        <div id="jogo4" class="jogo">
            <div class="cartao">
                <h5 style="color: white;">2009</h5>
                <div class="caracteristicas">
                    <div class="caracteristicasCards"><p style="color: white; font-size: small;">MOBA</p></div>
                    <div class="caracteristicasCards"><p style="color: white; font-size: small;">multijogador</p></div>
                </div>
                <a href="{{ url_for('home') }}" style="text-decoration: none;"><h1 style="color: white; margin-top: 3%; margin-bottom: 3%; font-size: 2rem;">League of Legends</h1></a>
                <p style="color: white; font-size: 80%;">League of Legends é um jogo eletrônico do gênero multiplayer online battle arena desenvolvido e publicado pela Riot Games.</p>
            </div>
        </div>
        <div id="jogo5" class="jogo">
            <div class="cartao">
                <h5 style="color: white;">2016</h5>
                <div class="caracteristicas">
                    <div class="caracteristicasCards"><p style="color: white; font-size: small;">FPS</p></div>
                    <div class="caracteristicasCards"><p style="color: white; font-size: small;">multijogador</p></div>
                </div>
                <a href="{{ url_for('home') }}" style="text-decoration: none;"><h1 style="color: white; margin-top: 3%; margin-bottom: 3%; font-size: 2rem;">Overwatch</h1></a>
                <p style="color: white; font-size: 80%;">Overwatch é um jogo eletrônico multijogador de tiro em primeira pessoa desenvolvido e publicado pela Blizzard Entertainment.</p>
            </div>
        </div>
        <div id="jogo6" class="jogo">
            <div class="cartao">
                <h5 style="color: white;">2016</h5>
                <div class="caracteristicas">
                    <div class="caracteristicasCards"><p style="color: white; font-size: small;">simulação</p></div>
                    <div class="caracteristicasCards"><p style="color: white; font-size: small;">RPG</p></div>
                </div>
                <a href="{{ url_for('home') }}" style="text-decoration: none;"><h1 style="color: white; margin-top: 3%; margin-bottom: 3%; font-size: 2rem;">Stardew Valley</h1></a>
                <p style="color: white; font-size: 80%;">Stardew Valley é um jogo de videogame, dos gêneros RPG e simulação, desenvolvido por Eric Barone e publicado pela ConcernedApe e pela Chucklefish.</p>
            </div>
        </div>
    </div>
    <div class="container1">
        <div class="lançamentos"></div>
        <div class="melhor-avaliados"></div>
        <div class="mais-populares"></div>
    </div>
{% endblock %}